<h2>Industrial applications </h2>
<b>
  Industrial applications of visual recognition that could be made dead simple:
</b

<ul>
  <li>
    <b>RETAIL</b>: People/traffic counting without double counting.
</li>
<li>
  <b>MEDICINE</b>: Visual pattern recognition and diagnosis of the nature of certain tumors; robotic surgeries
</li>
<li>
  <b>SECURITY</b>: People/traffic counting without double counting.
</li>
<li>
  <b>RETAIL</b>: Anomaly detection; real time object labeling
</li>
<li>
  <b>AGRICULTURE</b>: Drone view and assessment of farmland patches; accurate identification of plant disease foci and areas differing in disease severity in fields.
</li>
</ul>
