<h2 class='title'>phone.ai</h2>
<div class="content">
  phone.ai is a simple tool that allows you identify any type of phone. All you need to do is open the app, point your camera at the back of the phone or a picture of such (make sure the back of the phone is in camera view), and wait. Right there, the app
  begins to “think” and analyze. And in a matter of seconds, the app tells you what that phone's brand and model is.
</div>

<div class="videoWrapper">
  <!-- Copy & Pasted from YouTube -->
  <iframe width="640" height="360" src="https://www.youtube.com/embed/k1T4WHWb4qI" frameborder="0" allowfullscreen></iframe>
</div>

<div id="app-store">
  <a target="_blank" href="https://itunes.apple.com/us/app/puppy.ai/id1207505795?mt=8">
      <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/app_store.jpg" alt="app" />
    </a>
</div>

<!-- <div id="images">
  <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog1.jpg" alt="dog" />
  <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog2.jpg" alt="dog" />
  <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog3.jpg" alt="dog" />
</div> -->
