<h2 class='title'>puppy.ai</h2>

<div class="content">
  puppy.ai is a simple tool that allows you identify any breed of dog. All you need to do is open the app, point your phone at the dog (make sure the dog is in camera view), and wait. Right there, the app begins to "think" and analyze. And in a matter of
  seconds, the app tells you what that dog's breed is.
</div>

<div class="videoWrapper">
  <!-- Copy & Pasted from YouTube -->
  <iframe width="854" height="480" src="https://www.youtube.com/embed/ZqZ9f89Xgcg" frameborder="0" allowfullscreen></iframe>
</div>

<div id="app-store">
  <a target="_blank" href="https://itunes.apple.com/us/app/puppy.ai/id1207505795?mt=8">
      <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/app_store.jpg" alt="app" />
    </a>
</div>

<!-- <div id="images">
  <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog1.jpg" alt="dog" />
  <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog2.jpg" alt="dog" />
  <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog3.jpg" alt="dog" />
</div> -->
