<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% include head.html %}
</head>
<body>
  <div class="page">
    <header id="header" class="navbar">
      {% include navbar.html %}
    </header>
    <div class="container">
      <div id="logo">
        <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/icon.jpg" alt="icon" />
        <h1><a href="./">{{ site.tag_text }}</a></h1>
      </div>

      {{ content }}

      <div id="images">
          <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog1.jpg" alt="dog" />
          <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog2.jpg" alt="dog" />
          <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/dog3.jpg" alt="dog" />
      </div>
      <div id="app">
          <a href="http://tavmjong.free.fr/INKSCAPE/">
            <img src="https://raw.githubusercontent.com/puppyai/puppyai.github.io/master/_images/app_store.jpg" alt="app" />
          </a>
      </div>
    </div>
  </div>
{% include scripts.html %}
</body>
</html>
